.accordeon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fff;

  &_type_footer {
    justify-content: start;

  }

  &__container {
    width: 432px;
    margin-top: 12px;
    border-radius: 12px;

    @media screen and (max-width:525px) {
      width: 100%;
      
    }

    &_type_footer {
      margin-top: 0;
      
      width: 100%;
      
    }
  }

  &__button {
    padding-left: 16px;
    padding-right: 16px;
    background: #f5f5f6;
    color: #928f87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    width: 432px;
    border-radius: 12px;
    cursor: pointer;

    @media screen and (max-width:525px) {
      width: 100%;
     
      
    }

    &_type_footer {
      padding: 0;
      background: #fff;
      height: 100%;
      width: 100%;
      justify-content: flex-start;
    }

    &_active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
&__wrap {
  &:nth-of-type(2) {
    margin-top: 12px;
  }

  &_type_footer {
    padding: 6px 0;
    &:nth-of-type(2) {
      margin-top: 0px;
    }
    &:nth-of-type(1) {
      padding-top: 0;
      @media screen and(max-width:425px) {
        padding-top: 6px;
      }
    }
  }

}
  

  &__icon_rotate {
    transform: rotate(180deg);

  }

  &__title {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    margin: 0 12px 0 0;

    &_type_footer {
      font-weight: 700;
      line-height: 1.2;
      color: #2e1b0e;


    }
  }

  &__dropdown {
    background: #f5f5f6;

    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    align-items: center;
    margin-bottom: 12px;

    &_type_footer {
      background: #fff;
    }
  }

  &__dropdown-link {
    display: flex;
    line-height: 1.2;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    text-decoration: none;
    color: #2e1b0e;

    &_type_footer {
      line-height: 1.5;
      font-size: 14px;
      padding: 4px 0;
      font-weight: 400;
      color: #928f87;

    }
  }
}