.button {
  border: none;
  text-wrap: nowrap;
  background: none;
  color: #2e1b0e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 32px;
  box-sizing: border-box;
  cursor: pointer;




  &_basket {
    padding: 12px 18px;
    margin: 0;
    background: #fd6342;
    font-weight: 600;
    color: white;
    width: 142px;
    height: 48px;
    border-radius: 24px;

  }

  &_kul {
    background: #FBFBFB;
    border-radius: 24px;
    padding: 10px 20px;
    margin-right: 12px;
    align-items: center;

    a {
      text-decoration: none;
      color: #2e1b0e;

    }

    &:hover {
      box-shadow: 2px 2px 10px 0px #6363631A;

    }

    &:last-child {
      flex-direction: row-reverse;

      img {
        margin-right: 0;
        margin-left: 8px;

      }

    }

  }
  &_slider {
    position: absolute;
    @media screen and (max-width: 2560px) {
    background: #fff;
    height: 43px;
    width: 345px;
    color: #000;
    border-radius: 49px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-right: 0;
    
    bottom: 24px;
    left: 10%;
    }
    @media screen and (max-width: 1366px) {
      width: 345px;
      left: 4%;
     
    }



    @media screen and (max-width: 768px) {
      width: 300px;
      left: 5%;
      margin-top: -50px;
     
      
     
    }
    @media screen and (max-width: 425px) {
      width: 300px;
      left: 12%;
      margin-top: -50px;
     
         
    }

    @media screen and (max-width: 375px) {
      width: 300px;
      left: 8%;
      margin-top: -50px;
     
         
    }
    @media screen and (max-width: 360px) {
      width: 300px;
      left: 7%;
      margin-top: -50px;
     
         
    }
    @media screen and (max-width: 325px) {
      width: 300px;
      left: 3%;
      margin-top: -50px;
     
         
    }


    img {
      display: none;
    }

    
  }

  &__icon {
    margin-right: 8px;
    
  }


}