.button {
  border: none;
  background: none;
  color: #2e1b0e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 32px;
  cursor: pointer;

 

  &_basket {
    padding: 12px 18px;
    margin: 0;
    background: #fd6342;
    font-weight: 600;
    color: white;
    width: 142px;
    height: 48px;
    border-radius: 24px;
  }

  &__icon {
    margin-right: 8px;
  }
}
