.popup {

  &_type_address {

    position: fixed;      
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);

    @media screen and (max-width:768px) {
      position: absolute;
     
      
    }
  }

  &__container {

    &_type_address {
      transition: visibility 0.5s, opacity 0.3s linear;
      padding: 24px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 731px;
      position: relative;
      box-shadow: 2px 2px 16px 0px #72727229;

      @media screen and (max-width: 768px) {
        padding: 12px 13px 17px;
        width: 100%;
        position: absolute;
        top:0;
        border-radius: 0;
        
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: -32px;

    padding: 0;
    width: 16px;
    height: 16px;
    background: url(../../images/CloseIconWhite.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;

    @media screen and (max-width:768px) {
      background: url(../../images/ButtonCloseIcon.svg);
      background-repeat: no-repeat;
      background-position: center;
      top: 13px;
      right: 13px;
      width: 24px;
      height: 24px;
      
    }
  }

  &__title_type_address {
    color: #2E1B0E;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 32px;

    @media screen and (max-width:768px) {
      font-size: 24px;
      font-weight: 700;
           
    }
    @media screen and (max-width:525px) {
      max-width: 263px;
      margin-bottom: 16px;
      
           
    }
  }


  &__address-map{
    width: 683;
    height: 405px;
    background-color: lightblue;
    border-radius: 24px;
  }
}
