.popup {
  color: #2e1b0e;

  &_type_call {
    transition: visibility 0.5s, opacity 0.5s linear;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 179px;
    top: 92px;
    width: 480px;
    min-width: 320px;

    @media screen and (max-width: 525px) {
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  &__container {
    &_type_call {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
      box-sizing: border-box;
      padding: 24px;
      position: absolute;
      align-items: center;
      left: 0;
      top: 0;
      width: 480px;
      box-shadow: -1px 2px 23px 0px #0000001f;

      @media screen and (max-width: 525px) {
        padding-top: 48px;
        width: 100%;
        left: 0;
        grid-template-columns: 1fr;
      }
    }
  }

  &__telephones {
    border-radius: 12px;
    background-color: #f5f5f6;
    box-sizing: border-box;

    padding: 16px;

    &:nth-of-type(3) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      background-color: #f5f5f6;

      box-sizing: border-box;

      @media screen and(max-width:525px) {
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
  }

  &__shops-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px 12px;
  }

  &__telephones-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }
  &__shops-item {
    text-align: left;
  }

  &__shops-address {
    color: #928f87;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 2px;
  }

  &__telephone {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
  }
  &__close-call {
    @media screen and(max-width:768px) {
      width: 20px;
      height: 20px;
      top: 12px;
      right: 12px;
      position: absolute;
      border: none;
      background: url(../../images/ButtonCloseIcon.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
