.navigation {
  display: flex;
  padding: 26px 0px 16px;
  box-sizing: border-box;
  overflow: hidden;
  

  &__container {
    
    width: 850px;
   
    
    @media screen and (max-width: 1025px) {
      overflow-x: scroll;
      padding-bottom: 32px;
     
      margin-bottom: -35px;
    }
  }

  &__list {
   
    display: flex;
   

  }

  &__link {
    
   text-wrap: nowrap;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    color: #928f87;
    text-decoration: none;

    &_active {
      color: #2e1b0e;
    }

    &:nth-child(2) {
      margin-left: 40px;
      margin-right: 40px;
    }

    &:hover {
      opacity: 0.6;
      transition: 0.4s opacity;
    }
  }
}
