.navigation {
  display: flex;
  padding: 26px 0px 16px;
  box-sizing: border-box;
  overflow: hidden;

  @media screen and (max-width: 1025px) {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  @media screen and (max-width: 768px) {
    margin-left: 18px;
    margin-right: 18px;
  }

  @media screen and (max-width: 425px) {
    margin-left: 12px;
    margin-right: 12px;
  }

  &_burger {
    padding: 0;
    margin: 0;
  }

  &__container {
    width: 850px;

    @media screen and (max-width: 1025px) {
      overflow-x: scroll;
      padding-bottom: 32px;

      margin-bottom: -35px;
    }
  }

  &__container_burger {
    width: 300px;
  }

  &__list {
    display: flex;

    &_burger {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__link {
    &:nth-child(2) {
      margin-left: 40px;
      margin-right: 40px;
    }

    text-wrap: nowrap;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    color: #928f87;
    text-decoration: none;

    &_active {
      color: #2e1b0e;
    }

    &_burger {
      font-size: 20px;
      font-weight: 500;
      margin-left: 0;
      margin-right: 0;
      margin-left: 0px;
      margin-right: 0px;
      color: #2e1b0e;
      margin-bottom: 8px;

      &:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    &_burgeractive {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 8px;

      margin-left: 0px;
      margin-right: 0px;
      &:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    &:hover {
      opacity: 0.6;
      transition: 0.4s opacity;
    }
  }
}
