.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin-left: auto;
 list-style: none outside none;
 margin-top: 0;
 margin-bottom: 0;

  &__link:nth-of-type(3) {

    @media screen and (max-width:768px) {
    display: none;
    
    }
    
  }
 
  padding-left: 0;
  @media screen and (max-width:1024px) {
       
  }
    
  
}

