.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin-left: auto;
 list-style: none outside none;
 margin-top: 0;
 margin-bottom: 0;
 
  padding-left: 0;
  
 
 
  
  
}

