.header {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  padding: 16px 0;
  width: 100%;
  min-height: 80px;
  box-sizing: border-box;
  
  box-shadow: 2px 4px 10px 0px #8282820D;

 &__container {
  display: flex;
  align-items: center;
  
  width: 100%;
  


 }


 


  &__burger {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
   width: 32px;

   @media screen and (max-width: 768px) {
    width: 20px;
    height: 20px;
    
   }
    
    
  }

  &__burger-icon {
    width: 20px;


  }
  
}
