.fooddelivery {
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  

  @media screen and (max-width: 768px) {
    padding-left: 18px;
    padding-right: 18px;


  }

  @media screen and (max-width: 425px) {
    padding-left: 12px;
    padding-right: 12px;


  }


}