.fooddelivery {
  padding-left: 32px;
  padding-right: 32px;

  @media screen and (max-width: 768px) {
    padding-left: 18px;
    padding-right: 18px;


  }

  @media screen and (max-width: 425px) {
    padding-left: 12px;
    padding-right: 12px;


  }


}